$color-white: #ffffff;
$color-black: #000000;

$color-rich-black-50: #1d2935;
/* Primary Text Color */
$color-rich-black-075: #131b23;
$color-rich-black-085: #0e141b;
$color-rich-black-100: #070a0d;

$color-blue-010: #99cdea;
$color-blue-020: #88c4e7;
$color-blue-030: #78bce3;
$color-blue-040: #67b3e0;
$color-blue-050: #56abdc;
$color-blue-060: #45a3d9;
$color-blue-070: #349ad5;
$color-blue-080: #2a90cb;
$color-blue-090: #2684ba;
$color-blue-100: #2274a5;

$color-pearl-025: #f9f7f1;
$color-pearl-050: #f3efe2;
$color-pearl-075: #ede7d4;
$color-pearl-100: #e7dfc6;

$color-gray-100: #e9f1f7;

$color-copper-010: #c2b5ae;
$color-copper-015: #b9aaa2;
$color-copper-025: #b09f96;
$color-copper-035: #a7958b;
$color-copper-050: #9f8a7f;
$color-copper-065: #967f73;
$color-copper-075: #8c7569;
$color-copper-100: #806b60;
